.contact-icons {
    font-size: 48px;
    width: 48px;
    height: 48px;
    line-height: 40px;
}
.contact-icons-links {
    font-size: 60px;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.contact-icons-links-button {
    width: 60px;
    height: 60px;
    line-height: 60px;
}
