<img src="/assets/Approach.svg" class="img-fluid" alt="image">
<img src="/assets/Desciribe.svg" class="img-fluid" alt="image">
<div class="row">
    <div class="col">
        <div class="row">
            <div class="container-fluid d-flex flex-row justify-content-center">
                <h1 class="display-3">Get In Touch With Us</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="container-fluid d-flex flex-column justify-content-center align-items-center" >
                <h1 class="display-3">Drop Us A Line</h1>
                <p class="fw-light">Whether you have a question about features, trials, pricing, need a demo or anything
                    else, our team is ready to answer</p>
                <mat-form-field appearance="outline" style="width: 100%;">
                    <mat-label>Write Us</mat-label>
                    <textarea matInput [(ngModel)]="content"></textarea>
                </mat-form-field>
                <div class="container-fluid d-flex flex-row justify-content-between flex-wrap" style="padding: 0px;">
                    <mat-form-field appearance="outline">
                        <mat-label>Your Name</mat-label>
                        <input matInput [(ngModel)]="name">
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Your Email</mat-label>
                        <input matInput [(ngModel)]="email">
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </div>
                <button type="button" class="btn btn-success" style="width: 100%;" (click)="sendMail()">Send</button>
            </div>
        </div>
        <div class="col-12 col-md-6 p-5">
            <img src="/assets/World.svg" class="img-fluid" alt="image">
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col">
        <div class="container-fluid d-flex flex-row justify-content-center flex-wrap">
            <mat-icon fontIcon="location_city"></mat-icon>
            <figure class="ms-3">
                <blockquote class="blockquote">
                    <p>Address</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Berlin
                </figcaption>
            </figure>
        </div>
    </div>
    <!-- <div class="col">
        <div class="container-fluid d-flex flex-row justify-content-center flex-wrap">
            <mat-icon fontIcon="call"></mat-icon>
            <figure class="ms-3">
                <blockquote class="blockquote">
                    <p>Phone</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Someone famous in <cite title="Source Title">Source Title</cite>
                </figcaption>
            </figure>
        </div>
    </div> -->
    <div class="col">
        <div class="container-fluid d-flex flex-row justify-content-center flex-wrap">
            <mat-icon fontIcon="send"></mat-icon>
            <figure class="ms-3">
                <blockquote class="blockquote">
                    <p>Email</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    contact@softwareridersberlin.de
                </figcaption>
            </figure>
        </div>
    </div>
</div>
<div class="row mt-2 me-5">
    <div class="col">
        <div class="container-fluid d-flex flex-row justify-content-end align-items-center">
            <button mat-icon-button class="me-1"
                onClick="window.open('https://www.linkedin.com/in/bugrasessevmez/')">
                <mat-icon  fontSet="fa-brands" fontIcon="fa-linkedin"></mat-icon>
            </button>
            <button mat-icon-button class="me-5"
                onClick="window.open('https://www.linkedin.com/in/bugrasessevmez/')">
                <mat-icon  fontSet="fa-brands" fontIcon="fa-github"></mat-icon>
            </button>
        </div>
    </div>
</div>

<ng-template #thanksModal let-modal>
	
	<div class="modal-body">
        <h2 class="modal-title display-3">Perfect!</h2>
		<p>We will return you as soon as possible.</p>
	</div>
</ng-template>