<div class="container-fluid position-absolute" >
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <div class="container-fluid d-flex flex-row justify-content-center">
            <li [ngbNavItem]="1">
                <a ngbNavLink [routerLink]="['/home']">
                    <h5>Home</h5>
                </a>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink [routerLink]="['/our-professionalisms']">
                    <h5>Our professionalisms</h5>
                </a>
            </li>
            <li [ngbNavItem]="3">
                <a ngbNavLink [routerLink]="['/what-sources-do-we-base-on']">
                    <h5>What sources do we base on?</h5>
                </a>
            </li>
        </div>
    </ul>
</div>

<img src="/assets/Header.svg" class="img-fluid" alt="image">


<router-outlet></router-outlet>