<div class="container-fluid">
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
        <figure class="text-end">
            <blockquote class="blockquote">
              <p>We achieved certain principles from these books and will continue to increase our sources to get new principles</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">Software Riders Berlin</cite>
            </figcaption>
          </figure>
    </div>
    

    <div class="d-flex flex-row mt-5">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/CleanCode.jpg" class="img-fluid" alt="image" style="max-width: 40%;">
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/CleanArchitecture.jpg" class="img-fluid" alt="image" style="max-width: 40%;;">
        </div>
    </div>
    <div class="d-flex flex-row mt-5">
        <div class="container-fluid d-flex justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/HeadFirstDesignPatterns.jpeg" class="img-fluid" alt="image" style="max-width: 40%;">
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/MicroServiceDesignPatterns.jpg" class="img-fluid" alt="image" style="max-width: 40%;">
        </div>
    </div>

</div>