<div>
    <img src="/assets/web/new/SubHeader.svg" class="img-fluid d-none d-md-block" alt="image">
    <img src="/assets/web/new/SubHeader.svg" class="img-fluid d-block d-md-none" alt="image">
  </div>
<div class="container-fluid">
    <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-5">
        <figure class="text-end">
            <blockquote class="blockquote">
              <p>We achieved certain principles from these books and will continue to increase our sources to get new principles</p>
            </blockquote>
            <figcaption class="blockquote-footer">
              <cite title="Source Title">Software Riders Berlin</cite>
            </figcaption>
          </figure>
    </div>
    

    <div class="d-flex flex-row mt-5 flex-wrap flex-md-nowrap">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center mt-2" flex-grow-1>
            <img src="/assets/web/CleanCode.jpg" class="img-fluid" alt="image" >
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center mt-2" flex-grow-1>
            <img src="/assets/web/CleanArchitecture.jpg" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="d-flex flex-row mt-5 flex-wrap flex-md-nowrap">
        <div class="container-fluid d-flex justify-content-center align-items-center mt-2" flex-grow-1>
            <img src="/assets/web/HeadFirstDesignPatterns.jpg" class="img-fluid" alt="image">
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center mt-2" flex-grow-1>
            <img src="/assets/web/MicroServiceDesignPatterns.jpg" class="img-fluid" alt="image">
        </div>
    </div>

</div>