<div>
    <img src="/assets/web/new/SubHeader.svg" class="img-fluid d-none d-md-block" alt="image">
    <img src="/assets/web/new/SubHeader.svg" class="img-fluid d-block d-md-none" alt="image">
  </div>
<div class="container-fluid">
    <div class="d-flex flex-row mt-5 flex-wrap flex-md-nowrap">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/web/Allianz.png" class="img-fluid" alt="image">
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/web/Borusan.webp" class="img-fluid" alt="image">
        </div>
    </div>
    <div class="d-flex flex-row mt-5 flex-wrap flex-md-nowrap">
        <div class="container-fluid d-flex flex-column justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/web/AnadoluGrubu.jpg" class="img-fluid" alt="image" style="max-width: 50%;">
        </div>
        <div class="container-fluid d-flex justify-content-center align-items-center" flex-grow-1>
            <img src="/assets/web/Starwood.jpeg" class="img-fluid" alt="image">
        </div>
    </div>
</div>